/* Resets https://meyerweb.com/eric/tools/css/reset/ */
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  border-width: 0px;
  border-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #575757;
  background-color: #ffffff;
  margin-bottom: 4rem;
  line-height: 1.4;
}

/* Line Break */
hr {
  color: #f6ba83;
  background-color: #f6ba83;
  height: 5px;
  width: 85%;
  margin: auto;
}

/* Google Font */
.section-title {
  font-family: "Hanken Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2em;
}

.header {
  text-align: center;

  & h1 {
    font-size: clamp(1rem, 4vw, 5rem);
  }

  & h3 {
    font-size: clamp(.75rem, 2vw, 3rem);
  }
}

/* Nested this into the above style
.header h1 {
  font-size: 4vw
} 
.header h3 {
  font-size: 2vw
} 
*/

.flex-layout {
  display: flex;
  gap: 20px;
}

/* Sidebar Styles */
.sidebar {
  width: 35%;
  background-color: #cee3fa;
  padding-left: 4rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar hr {
  border-top:2px dashed #575757;
  background-color: unset;
  width: 100%;
  margin: inherit;
}

.sidebar li {
  margin-bottom: 8px;
  font-size: 1em;
}

.contact p a {
  text-decoration: none;
  color: inherit;
}

.edu-item {
  margin-bottom: 20px;
  & h4 {
    margin: 4px 0;
  }
  & h5, p {
    margin: 0;
  }
}

/* Profile and Experience Container */
.main-content {
  width: 65%;
  padding-right: 4rem;
}

.main-content hr {
  border-top:2px dashed #f6ba83;
  background-color: unset;
  width: 100%;
  margin: inherit;
}